{% extends 'base.html' %}
{% block content %}

    <div>
        <div class="about-section">
            <div class="inner-width">
                <h1 class="section-title">About us</h1>
                <div class="border"></div>
                <div class="about-container">

                    <div class="about-box">
                        <div class="about-icon">
                            <i class="fa fa-question-circle"></i>
                        </div>
                        <div class="about-title">Идеята на ParkingPro.com</div>
                        <div class="about-desc">
                            С нарастването на населението на градовете и увеличаването на броя на колите се появява и един голям проблем. 
                            Проблема с паркоместата. Паркирането е голямо предизвикателство за много от гражданите. Целта на ParkingPro.com 
                            е да улесни eжедневието на хората, спестявйки им обикалянето по улиците в търсене на място. 
                            Това се постига с намирането на най-близкият паркинг до дадена от потребителя локация. </div>
                    </div>

                    <div class="about-box">
                        <div class="about-icon">
                            <i class="fas fa-map-marker-alt"></i>
                        </div>
                        <div class="about-title">Какво представлява?</div>
                        <div class="about-desc">
                           Това е сайт, чрез който намирате паркинг в радиус от 1 км от подадената ви локация. 
                        За да видите възможностите за спиране около вас, вие трябва само да напишете адреса в търсачката. Дори тя ще го
                    довърши вместо вас! След това системата автоматично ще покаже най-близкия паркинг и упътвания към вашата дестинация.
                    За да може базата ни с паркинги да се разширява, то вие можете да добавяте нови локации!</div>
                    </div>

                    <div class="about-box">
                        <div class="about-icon">
                            <i class="fas fa-parking"></i></i>
                        </div>
                        <div class="about-title">За кого е предназначено?</div>
                        <div class="about-desc">
                            Този сайт е подходящ за всички шофьори! Хубавото е, че този сайт е фунционален за паркинги 
                        по целия свят. Дали сте в София или Ню Йорк, за ParkingPro.com няма никакво значение! </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    {% endblock content %}