{% extends 'base.html' %}
{% block content %}

    <div>
        <div class="about-section">
            <div class="inner-width">
                <h1 class="section-title">За нас</h1>
                <div class="border"></div>
                <div class="about-container">

                    <div class="about-box">
                        <div class="about-icon">
                            <i class="fa fa-question-circle"></i>
                        </div>
                        <div class="about-title">Идеята на Finder Pro</div>
                        <div class="about-desc">
                            В днешния свят има тенденция на увеличаване на градското население и това поражда голям проблем. Всеки започва собствен бизнес,
                            отварят се многобройни магазини и човек губи представа за най-близките до него места, където може да се сдобие с нещо конкретно или
                            да изпълни опредеена своя цел. Именно тук се появява Finder Pro. То ви помега да се ориентирате много по-лесно в цяла София и да намирате 
                            редица обекти само в няколко лесни стъпки!
                            </div>
                    </div>

                    <div class="about-box">
                        <div class="about-icon">
                            <i class="fa fa-question-circle"></i>
                        </div>
                        <div class="about-title">Какво представлява?</div>
                        <div class="about-desc">
                            Това е уеб-базирано приложение, чрез който намирате различни обекти в радиус от 1 км от подадената ви локация.
                            Първо, трябва да <b> изберете вида локация от падащото меню </b>- можете да търсите места от категории като 
                            ресторанти, банкомати, музеи, паркинги и много други!  
                        За да видите местата около вас, вие трябва само да <b>напишете адреса в търсачката. За ваше улесение, тя довършва адреса
                        вместо вас и работи и на 6liokavica :D </b>
                        След това системата автоматично ще покаже най-близката дестинация и упътвания към нея.
                    <b>За да може разнообразието да се разширява, можете да се регистрирате и да да добавяте нови локации</b>!</div>
                    </div>

                    <div class="about-box">
                        <div class="about-icon">
                            <i class="fa fa-question-circle"></i>
                        </div>
                        <div class="about-title">За кого е предназначено?</div>
                        <div class="about-desc">
                            Този сайт е подходящ за абсолютно всеки! От непознат турист, решил да посети красивата ни столица, до
                        хора, които живеят в София от много време, всички могат да се възползват от това страхотно приложение! Кой, знае, може именно 
                    чрез него да намерите някое скрито и непознато, но същевременно уникално местенце!</div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    {% endblock content %}