{% extends "base.html" %}

{% block head %}

    {% if not user.is_authenticated %}
    
    <script>
        $(function hey() {
            window.location.replace('/');
        })
    </script>
    {% endif %}

    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="../static/js/getCurrentUserLocationAndZoomLevel.js"></script>
    <script src="../static/js/getTileIdFromLocation.js"></script>
    <script src="../static/js/createDestinationMap.js"></script>
    <script src="../static/js/customMapStyles.js"></script>
    <script src="../static/js/Cookie.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBfJv0kVR2g4urnqqZ5HoJEu4SMLtsVCPo&callback=getCurrentUserLocationAndZoomLevel&libraries=places&v=weekly" async defer></script>
    <link rel="stylesheet" type="text/css" href="../static/board/create_map.css" />
        
{% endblock head %}

{% block content %}

    <script>
        function onChange(event) {
            document.getElementById("select-input").value = event.target.value;
        }
    </script>
    <div class="big-text">
        <h3 style = "text-align:center; padding-top: 10px;">New Location Type</h3>
    </div>
    

    <div onchange="onChange(event)">
        <select class = "select-button" id ="select-input" value="parking" >
            <option value="parking">
                Parking
            </option>
            <option value="supermarket">
                Supermarket
            </option>

            <option value="tourist_attraction">
                Tourist Attracion
            </option>
            
            <option value="atm">
                ATM
            </option>

            <option value="bar">
                Bar
            </option>
            <option value="night_club">
                Night Club
            </option>
            <option value="lodging">
                Hotel
            </option>
        </select>
    </div>

    <div class="content-section">
    <div id="map"></div>
        <div class="form-group">
            <a class="main-button" id="create_destination">Submit new FinderPRO Location</a>
        </div>
        <div id="infowindow-content-new-location" style="display: none;">
            <span id="new-location-name" class="title"></span><br />
            <span id="new-location-position"></span><br />
        </div>
    </div>
    

{% endblock content %}