{% load static %}
<!DOCTYPE html>
<html>
    
    <head profile="http://localhost:8000/">
        <link rel="icon" type="image/png" href="{% static 'images/car-emoji-by-google.png' %}">
        
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="{% static 'board/hacktues.css' %}">
        <link rel="stylesheet" href="{% static 'board/about.css' %}">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">   
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

        
        {%  block head %}{% endblock head %}
    </head>

    <body>
        <script src="../static/js/Cookie.js"></script>
        <script src="../static/js/setStyle.js"></script>
        <script src="../static/js/popup.js"></script>

        <nav>
            <ul>
                <li class="logo">FINDER<span style="color: #FAFAFA;">PRO</span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 56.966 56.966" fill="red" width="22" height="22">
                        <path d="M55.146 51.887L41.588 37.786c3.486-4.144 5.396-9.358 5.396-14.786 0-12.682-10.318-23-23-23s-23 10.318-23 23 10.318 23 23 23c4.761 0 9.298-1.436 13.177-4.162l13.661 14.208c.571.593 1.339.92 2.162.92.779 0 1.518-.297 2.079-.837 1.192-1.147 1.23-3.049.083-4.242zM23.984 6c9.374 0 17 7.626 17 17s-7.626 17-17 17-17-7.626-17-17 7.626-17 17-17z"/>
                    </svg>
                </li>
                <li class="btn"><span class="fas fa-bars"></span></li>
                <div class="items">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                {% if user.is_authenticated != 0 %}
                    <li><a href="{% url 'add-location-page' %}">Add Location</a></li>
                    <li><a href="{% url 'settings' %}">Settings</a></li>
                {% endif %}

                </div>
                {% if user.is_authenticated == 0 %}
                                
                    <a class="asp" href="{% url 'login' %}"><button class="main-button">Log in</button></a>
                    <a class="asp" href="{% url 'register' %}"><button class="main-button">Register</button></a>
                {% endif %}
                </li>
            </ul>
        </nav>

        <script>
            $('nav ul li.btn span').click(function () {
                $('nav ul div.items').toggleClass("show");
                $('nav ul li.btn span').toggleClass("show");
            });
        </script>

    <div>
        {% block content %}{% endblock %}
    </div>

    <script>
        setStyle();
    </script>

    <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-app.js"></script>

    <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-analytics.js"></script>

    <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-firestore.js"></script>

    <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-database.js"></script>

    <script>
    var firebaseConfig = {
        apiKey: "AIzaSyB1ju-eMKGotjbk13ZDfS8HGZgrki0aP2o",
        authDomain: "finder-pro-b3cdc.firebaseapp.com",
        projectId: "finder-pro-b3cdc",
        storageBucket: "finder-pro-b3cdc.appspot.com",
        messagingSenderId: "1004225466882",
        appId: "1:1004225466882:web:ad5fdc5bd64328b2aa0d1b",
        measurementId: "G-V2KWT193TW"
    };
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
    </script>

    </body>
</html>