{% extends 'base.html' %}

{% block content %}

    <div>
        <div class="about-section">
            <div class="inner-width">
                <h1 class="section-title">За нас</h1>
                <div class="border"></div>
                <div class="about-container">

                    <div class="about-box">
                        <div class="about-icon">
                            <i class="fa fa-question-circle"></i>
                        </div>
                        <div class="about-title">Finder Pro`s Core Idea</div>
                        <div class="about-desc">
                            In today's world there is a tendency of increasing urban populations
                            and this raises a big problem.
                            New businessess are started,
                            numerous shops are opened and one loses sight of the places closest to him,
                            where he can get something specific or fulfill a specific goal.
                            This is where Finder Pro comes in.
                            It helps you navigate much easier throughout any city on Earth
                            and finds a number of locations near you in just a few seconds!
                        </div>
                    </div>

                    <div class="about-box">
                        <div class="about-icon">
                            <i class="fa fa-question-circle"></i>
                        </div>
                        <div class="about-title">What is Finder Pro?</div>
                        <div class="about-desc">
                            This is a web-based application with which you can find various locations
                            within a radius of 10 km from your submitted location.
                            First, you need to choose the type of the location from the drop-down menu.
                            You can search for places from categories such as restaurants,
                            ATMs, museums, parking lots and much more!
                            To see the locations near you,
                            you just have to type the desired address in the search box.
                            After that simply choose from the autocompletion menu.
                            The search box works with every Google-indexed language.
                            Then the system will automatically show the nearest destination and
                            directions to it.  In order for the variety of locations to expand,
                            you can register and add new locations!
                        </div>
                    </div>

                    <div class="about-box">
                        <div class="about-icon">
                            <i class="fa fa-question-circle"></i>
                        </div>
                        <div class="about-title">Who Finder Pro is made for?</div>
                        <div class="about-desc">
                            This site is suitable for absolutely everyone!
                            From a tourist who decided to visit an unfamiliar city,
                            to a local who doesn`t know the city`s layout perfectly, 
                            Finder Pro provides an unparalleled destination-finding experience.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}