{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block head %}
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="../static/js/Cookie.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/board/hacktues.css" />
    <script src="../static/js/settings.js"></script>
{% endblock head %}

{% block content %}
    <div class="content-section">
      <div class="media">
        <div class="media-body">
          <h2 class="account-heading text-light">{{user.username}}</h2>
          <h5 class="text-white">Name: {{user.first_name}} {{user.last_name}} </h5>
          <h5 class="text-white">E-mail: {{user.email}}</h5>

        </div>
      </div>
      <form method="POST"  enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group text-white">
            <legend class=  "border-bottom md-4"> Update Profile Info</legend>
            {{ u_form|crispy }}
          </fieldset>
          <div class="form-group">
            <button class="main-button" type="submit">Update</button>
          </div>
        </form>
      </div>

      <div class="big-text">
        <h3 style = "text-align:center; padding-top: 10px">Choose Map Theme: </h3>
      </div>
      

    <div onchange="webSiteSetting()">
        <select class="select-button" id="select-map-setting" value="">
            <option id="first-option" value="default">
                Light Mode
            </option>
            <option id="second-option" value="darkMode">
                Dark Mode
            </option>
        </select>
    </div>

    <script>
      if(sessionStorage.getItem("hasAcceptedCookies") === "True") {
        const selectwebSiteSetting = document.getElementById("select-map-setting");
        const cookie = getCookie("webSiteSetting");
        if (cookie != "") {
            selectwebSiteSetting.value = cookie;
        }
        else {
            selectwebSiteSetting.value = "default";
            setCookie("webSiteSetting", "default", 10);
        }
      }
      else if(sessionStorage.getItem("hasAcceptedCookies") === "False") {
        const selectwebSiteSetting = document.getElementById("select-map-setting");
        const uiState = sessionStorage.getItem("uiState");
        if (uiState != "") {
            selectwebSiteSetting.value = uiState;
        }
        else {
            selectwebSiteSetting.value = "default";
            sessionStorage.setItem("uiState", "default");
        }
      }
        
    </script>

{% endblock content %}