{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <div class="media-body">
          <h2 class="account-heading">{{user.username}}</h2>
          <h5 class="text-secondary">Name: {{user.first_name}} {{user.last_name}} </h5>
          <h5 class="text-secondary">E-mail: {{user.email}}</h5>

        </div>
      </div>
      <form method="POST"  enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
            <legend class="border-bottom md-4"> Update Profile Info</legend>
            {{ u_form|crispy }}
          </fieldset>
          <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Update</button>
          </div>
        </form>
      </div>
{% endblock content %}