@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

nav{  
  background: #6F2232;
  padding: 10px 40px 10px 70px;
  border: 1px solid #000;
  border-right: none;
  border-left: none;
  z-index: 2;
}

nav ul{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

nav ul li.logo{
  flex: 1;
  font-size: 30px;
  color: #f12e2e;
  cursor: pointer;
}

nav ul div.items{
  padding: 0 25px;
  display: inline-flex;
}

nav ul div.items a{
  text-decoration: none;
  font-size: 18px;
  padding: 0 12px;
  transition: all 0.3s ease 0s;
  color:#f2f2f2;
}

nav ul div.items a:hover{
  color: #C3073F;
  border-bottom:#C3073F 3px solid;
}


.search-icon{
  margin-top: 10px;
  margin-left: 32%;
  height: 40px;
  width: 36%;
  display: flex;
  background: #f2f2f2;
  border-style: groove;
  border-color: #000;
  border-radius: 10px;
  font-size: 23px;
  font-weight: 300;
  padding: 5 11px 0 0px;
  text-overflow: ellipsis;
  height: 50px;
}

.search-icon input{
  height: 100%;
  width: 100%;
}



.main-button {
  text-align: center;
  padding: 7px 11px;
  margin: 10px;
  margin-right: 25px;
  border: none;
  border-radius: 50px;
  background-color:#f12e2e ;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  font-size: 19px;
}

button:hover {
  background-color:#C3073F;
}

#map {
  height: 500px;
  width: 75%;
  position: relative;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

#infowindow-content-travel-params {
  width: 50%;
  text-align: center;
  margin-left: 25%;
  color:#fafafa;
}

#infowindow-content {
  font-size: medium;
  font-weight: 100;
}

#infowindow-content-destination {
  font-size: medium;
  font-weight: 100;
}

.travel-section{
  background: #b97f7f;
  border: 1px solid #fafafa;
  border-radius: 10px;
  margin: 10px;
}
#pac-input {
  color: #000;
}

  nav ul li.btn span.show:before{
    content: '\f00d';
  }

  nav ul li.btn{
      font-size: 30px;
      flex: 1;
      padding: 0 30px;
      display: none;
  }

nav ul li.btn span{
    height: 42px;
    width: 42px;
    text-align: center;
    line-height: 42px;
    border: 3px solid #151515;
    border-radius: 5px;
    cursor: pointer;
}

nav ul li.btn:hover span:before{
    content: '\f00d';
}

  @media screen and (max-width: 1052px) {
    nav{
      padding: 10px 40px 10px 0px;
    }
    nav ul li.logo{
      display: none;
    }
    nav ul div.items{
      flex: 4;
    }
  }
  @media screen and (max-width: 800px){
    nav ul li.btn{
      display:block;
    }
    nav{
      z-index: 1;
      padding: 9px 40px 9px 0;
    }
    nav ul div.items{
      z-index: 1;
      position: fixed;
      top: -420px;
      right: 0;
      width: 100%;
      background: #f12e2e;
      border:#151515;
      display: inline-block;
      transition: top .4s;
      
    }
    nav ul div.items.show{
      top: 80px;
      
    }
    nav ul div.items li{
      text-align: center;
      line-height: 30px;
      margin: 30px 0;
      
    }
    nav ul div.items li a{
      font-size: 19px;
    }
  }
  @media screen and (max-width: 405px) {
    nav ul{
      flex-wrap: nowrap;
    }
    nav ul li.search{
      width: 50vmin;
    }
    nav ul li input{
      width: 40vmin;
    }
    nav ul li .search-icon{
      width: 10vmin;
    }
  }


.content-section {
  background: #6F2232;
  padding: 10px 20px;
  border: 1px solid #1A1A1D;
  border-radius: 3px;
  margin: 60px;
  margin-top: 10px;
}

#select-input {
  width: 26%;
  margin-left: 37%;
}

#select-map-setting {
  width: 26%;
  margin-left: 37%;
}

.select-button {
  padding: 7px 11px;
  margin: 10px;
  margin-right: 25px;
  border: none;
  border-radius: 10px;
  background-color:#b97f7f ;
  color: white;
  transition: all 0.3s ease 0s;
  font-size: 19px;
}

option {
  background-color:#ffffff ;
  color: black;
  font-size: 19px;
  border: 10px solid #151515;
  }

.popup {
  width: 60%;
  padding: 5px 5px;
  top: 10%;
  right: 20%;
  height: 250px;
  background-color: rgb(58, 1, 1);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position:fixed;
  z-index: 3;
  animation: fadeIn  ease 0.5s;
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

#accept-cookies-button {
  display: flex;
  background-color: #28610e;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

#accept-cookies-button:hover{
  background-color: #1d460a;
}

#decline-cookies-button {
  display: flex;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

#backdrop {
  position: fixed;
  width: 100%; 
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  animation: fadeIn  ease 0.5s;
}